@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #505050;
  --muted: #919191;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);

  --font-inter: var(--font-inter);
}


body {
  background: var(--background);
  color: var(--foreground);
}

